.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 90vh;
}

.map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
}

